* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("background2.jpg");
    background-size : cover;

            /*---------- HEADER ----------  */
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.header {
    padding: 17px 0;
    background:  rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}
/*---------------------------------------------------------------------------------*/


.navbar {
    text-align: center;
}
.navbar a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
.navbar a:hover {
    text-decoration: underline;
}
P {
    margin-top: -17px;
    text-align: center;
}
@font-face {
    font-family: 'Bubblegum';
    src: url('RioGrande-Bold.ttf.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.chill-puff {
    font-family: 'Bubblegum', sans-serif; 
    font-size: 130px; 
    color: white; 
    text-align: center;
}

.image-container {
    margin-top: 2%;
    text-align: center;
}
img {
    height: auto;
    width: 1000px;
    height: 700px;
}


/*--------------------------FOOTER----------------------------------*/
.footer {
    background-color:  rgb(0, 0, 0);
    text-align: center;
    padding: 50px 0;
}
.social-icons {
    align-items: center
}
.social-icon {
    color: white;
    font-size: 20px;
    margin-right: 8px;
}
.followlink a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
.follow-link {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 16px;
    align-items: center; 
} 
